{% extends 'esb/layout.html' %}
{% load static %}

{% block body %}
    <h1 class="padding1">Category</h1>
    <div class="categories">
        {% for type, type_categories in categories.items %}

            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family:sans-serif;background-color: rgba(39, 39, 196, 0.717);">
                    {{ type }}
                </a>
                <ul class="dropdown-menu">
                        {% for title in type_categories %}
                            <li><a class="dropdown-item" href="#">{{ title }}</a></li>
                        {% endfor %}
                </ul>
            </div>

        {% endfor %}
    </div>
{% endblock %}

