{% extends 'esb/layout.html' %}
{% load static %}

{% block title %} Create Product {% endblock %}
{% block script %}
    <script src="{% static 'esb/create.js' %}"></script>
{% endblock %}

{% block body %}
<div id="div-order">
    <div id="div-order-img">
            {% for image in product.product_image.all %}
                <img src="{{ image.image.url }}" alt="{{ image.product.title }}" class="img-thumbnail" style="display:none;"
                    id="index{{ image.index }}">
            {% endfor %}
        <button id="prev-image" onclick="toggleImage('prev')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </button>
        <button id="next-image" onclick="toggleImage('next')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>
        </button>
    </div>
    <div id="div-order-body" style="position:relative;">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" id="product-id" name="product-id" value="{{ product.id }}">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="title" placeholder="Title" required>
                <label for="floatingInput">Title</label>
            </div>
            <div class="form-floating">
                <input type="number" class="form-control" id="floatingInput" name="price" placeholder="Price" required min="0.1">
                <label for="floatingInput">Price</label>
            </div>
            <select id="type-category" class="form-select form-select-sm mt-3" aria-label=".form-select-sm example" name="type-category" onchange="updateSubCategories()">
                <option selected>Category</option>
                {% for type, type_categories in categories.items %}
                    <option>{{ type }}</option>
                {% endfor %}
            </select>
            <select id="sub-category" class="form-select form-select-sm mt-3" aria-label=".form-select-sm example" name="title-category" style="display:none">
                <option selected>Sub Category</option>
            </select>
            <div class="mt-3 mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" name="description" placeholder="Description" rows="10"></textarea>
            </div>
            <input type="file" name="images" id="image-input" multiple onchange="uploadImage()">
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>
{% endblock %}