{% extends 'esb/layout.html' %}

{% block body %}

<h1 class="padding1">In Progress</h1>
<div id="pendings-view">
    {% for p in page_obj %}
    <a class="pending-view" href="{% url 'order_page' p.id %}">
        <div>Order No.{{ p.id}}: </div>
        <div class="div-preview-img">
            {% if p.product.img %}
                <img src="{{ p.product.img }}" alt="{{ p.product.title }}">
            {% else %}
                No Image.
            {% endif %}
        </div>
        <div class="div-preview-title">
            {{ p.product.title }}
        </div>
        <div>
            ${{ p.product.price }}
        </div>
        <p id="order-status" style="background-color: rgba(121, 250, 121, 0.767);">In Progress</p>
    </a>
    {% endfor %}
</div>

<!-- Make Pagination -->
{% block pagination %}
    {% include 'esb/pagination.html' %}
{% endblock %}

{% endblock %}