{% extends "esb/layout.html" %}

{% block body %}
{% if messages %}
    {{ messages }}
{% endif %}
    <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input autofocus class="form-control" type="text" name="username" placeholder="Username">
    </div>
    <div class="input-group mb-3">
        <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <div style="text-align:center;">
        <input class="btn btn-primary" type="submit" value="Login">
    </div>
    </form>
    <div style="text-align:center;">
        Don't have an account? <a>Register here.</a>
    </div>
{% endblock %}