{% extends "esb/layout.html" %}

{% block body %}
<div class="padding1">
    <h1>Login</h1>
    {% if messages %}
    <!-- Messages -->
    <ul class="messages">
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success d-flex align-items-center" role="alert" style="height:3em;">
                    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:" style="width:1em;height:1em;">
                        <use xlink:href="#check-circle-fill" />
                    </svg>
                    <div>
                        {{ message }}
                    </div>
                </div>
            {% elif message.tags == 'error' %}
                <div class="alert alert-primary d-flex align-items-center" role="alert" style="height:3em;">
                    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:" style="width:1em;height:1em;">
                        <use xlink:href="#info-fill" />
                    </svg>
                    <div>
                        {{ message }}
                    </div>
                </div>
            {% elif message.tags == 'warning' %}
                <div class="alert alert-danger d-flex align-items-center" role="alert" style="height:3em;">
                    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:" style="width:1em;height:1em;">
                        <use xlink:href="#exclamation-triangle-fill" />
                    </svg>
                    <div>
                        {{ message }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
        <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="input-group mb-3">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div style="text-align:center;">
            <input class="btn btn-primary" type="submit" value="Login">
        </div>
        </form>
        <div class="word-login">
            Don't have an account? <a href="{% url 'register' %}">Register here.</a>
        </div>
</div>
{% endblock %}