{% extends "esb/layout.html" %}

{% block body %}
    {% if messages %}
    <!-- Messages -->
    <ul class="messages" style="padding-right:2rem;">
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success d-flex align-items-center" role="alert" style="height:3em;">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:" style="width:1em;height:1em;">
                <use xlink:href="#check-circle-fill" />
            </svg>
            <div>
                {{ message }}
            </div>
        </div>
        {% elif message.tags == 'error' %}
        <div class="alert alert-primary d-flex align-items-center" role="alert" style="height:3em;">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:" style="width:1em;height:1em;">
                <use xlink:href="#info-fill" />
            </svg>
            <div>
                {{ message }}
            </div>
        </div>
        {% elif message.tags == 'warning' %}
        <div class="alert alert-danger d-flex align-items-center" role="alert" style="height:3em;">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:" style="width:1em;height:1em;">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <div>
                {{ message }}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Button for Create Order/Product here-->
                {% block create %}{% endblock %}

                <!-- Top-->
                {% block top %}{% endblock %}

                <!-- Table -->
                <div class="table-responsive">
                    <table id="bootstrapdatatable" class="table table-bordered" width="100%">
                        <thead class="table-dark">
                            <!-- Table Head-->
                            {% block thead %}
                            {% endblock %}
                        </thead>
                        <tbody>
                            <!--Table Body-->
                            {% block tbody %}
                            {% endblock %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


