{% extends 'esb/layout.html' %}
{% load static %}

{% block script %}
    <script src="{% static 'esb/product.js' %}"></script>
{% endblock %}

{% block body %}
    {% if product.active %}
        <p id="order-status">Active</p>
    {% else %}
        <p id="order-status" style="color: #d3d3d3;">Inactive</p>
    {% endif %}

    <div id="div-order">
        <!-- IMAGE -->
        <div id="div-order-img">
            {% for image in product.product_image.all %}
                <img src="{{ image.image.url }}" alt="{{ product.title }}" class="img-thumbnail" style="display:none;" id="index{{ image.index }}">
            {% endfor %}
                <button id="prev-image" onclick="toggleImage('prev')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                    </svg>
                </button>
                <button id="next-image" onclick="toggleImage('next')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg>
                </button>

        </div>
        <!-- Body -->
        <div id="div-order-body" style="position:relative;">
            <!-- Product number -->
            <div id="div-order-body-no">
                Product No.<span id="order-no">{{ product.id }}</span>:
            </div>

            <!-- Title -->
            <h3 style="font-family: sans-serif;min-height:2em;">{{ product.title }}</h3>
            <!-- Description -->
            <div id="div-body-description" style="min-height:15em;">
                <!-- |linebreaks make blank line sync with models did -->
                {{ product.description | linebreaks }}
            </div>
            <br>
            <ul>
                <li>Category: {{ product.category}}</li>
            </ul>
            <h4 style="text-align:center;">Price: ${{ product.price }}</h4>
            <!-- If exists an order in progress for this product, join it-->
            {% if join_order %}
                <div class="div-target" style="text-align:center;">
                    <a href="{% url 'order_page' join_order.id %}"><button class="btn btn-outline-primary" style="width:160px;height:50px;font-size:1.4rem;"> Join Order </button></a>
                </div>
            <!-- If not exists but product's status is active, create new order-->
            {% elif product.active == True %}
                <div class="div-target" style="text-align:center;">
                    <a href="{% url 'new_order' product.id %}"><button class="btn btn-outline-primary" style="width:160px;height:50px;font-size:1.4em;">New Order</button></a>
                </div>
            {% else %}
                <p id="order-status">Product is not available now.</p>
            {% endif %}
            <br>

        </div>
    </div>
{% endblock %}
