{% extends 'esb/pendings.html' %}
{% load static %}

{% block title %}
    {% if results %}
        <h1 class="padding1"> Search Results </h1>
    {% else %}
        <h1 class="padding1"> No Result </h1>
    {% endif %}
{% endblock %}

{% block body-view %}
    {% for p in page_obj %}
    <a class="pending-view" href="{% url 'product' p.id %}">
        {% if p.active %}
            <div style="font-weight:bolder;">Active</div>
        {% else %}
            <div style="font-weight:bolder;color:#d3d3d3;">Inactive</div>
        {% endif %}

        <div class="div-preview-img">
            {% if p.img %}
                <img src="{{ p.img }}" alt="{{ p.title }}">
            {% else %}
                No Image.
            {% endif %}
        </div>

        <div class="div-preview-title">
            {{ p.title }}
        </div>

        <div>
            ${{ p.price }}
        </div>
    </a>
    {% endfor %}
{% endblock %}
